#container {
    display: flex;
}

.app-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .form-container {
    flex: 1;
    margin-right: 20px;
  }
  
  .display-container {
    flex: 1;
    margin-left: 20px;
    background-color: #928d8d;
    padding: 20px;
    border-radius: 8px;
  }
  
  .personal-info-display,
  .education-info-display {
    margin-bottom: 20px;
  }
  
  .personal-info-display h2,
  .education-info-display h2 {
    margin-top: 0;
  }
  
  button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #007bff;
    color: rgb(255, 3, 3);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }