/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color:black;
  background-color: azure;
}

.form-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.personal-education-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-container {
  flex: 1;
  margin-right: 20px;
}

.display-section {
  display: flex;
  flex-direction: column;
}

.display-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.personal-info-display,
.education-info-display,
.experience-info-display {
  margin-bottom: 20px;
}

.personal-info-display h2,
.education-info-display h2,
.experience-info-display h2 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.form-date-input {
  padding: 6px;
}

input {
  background-color: #dffdfc; 
  border: 1px solid #1a1616; 
  color:black; 
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px; 
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
